# Logs
logs/
*.log

# Gradle
.gradle/
build/

# Java and Spring Boot
*.jar
*.war
*.ear
*.class

# Environment variables
application.properties
application.yml
.env

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# MacOS
.DS_Store

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.swn
